@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Meera+Inimai&family=Poppins&family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  color: white;
  padding: 12px 24px;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.main-heading {
  font-family: "Crete Round", sans-serif;
  font-weight: 400;
  color: #ff6b00;
  font-size: 56px;
  padding: 120px 24px 0 24px;
  margin: 0;
}

.sub-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  padding: 12px 24px;
  margin: 0;
}

.main-body {
  background-color: #1c1a19;
  background-image: url(images/Main-Page-Design.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.main-body p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 24px 20px;
}

.icon {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 60%;
  padding: 0 24px 150px;
}

/* Work Section */
.work-section {
  display: grid;
  padding: 20px 24px;
  background-color: #e5e5e5;
}

.work-div {
  justify-content: center;
}

.recent-work-underline hr {
  height: 0;
  border: 1px solid #212121;
}

.work-div h1 {
  padding: 100px 0 24px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.main-card {
  display: flex;
  flex-direction: column;
}

.main-card img {
  padding: 80px 0 24px;
}

.main-card-div h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding: 0 0 12px;
}

.main-card-div p {
  font-family: "Inter", sans-serif;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding: 0 0 12px;
}

.main-card-div ul {
  display: flex;
  width: 90%;
  justify-content: space-between;
  list-style: none;
  padding: 0 0 12px;
}

.main-card-div li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.btn {
  border: none;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.sub-card {
  color: #fff;
  padding-top: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.sub-card-div {
  position: absolute;
  bottom: 0;
}

.sub-card h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 8px 16px 12px;
  margin: 0;
}

.sub-card p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 0;
  padding: 0 16px 12px;
  padding-right: 10%;
}

.sub-card ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 0 16px 22px;
}

.sub-card li {
  padding: 10px 12px;
  background: rgba(255, 255, 255, 0.24);
}

.sub-card-btn {
  width: 100%;
}

/* About Section */
.about-section {
  background-color: #1c1a19;
  color: #fff;
}

.about-div {
  display: flex;
  flex-direction: column;
  background-image: url(images/about-me-bkg.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.about-div h1 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  padding: 120px 24px 0;
}

.about-div p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  text-align: left;
  padding: 24px;
}

.about-btn {
  width: 161px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  align-self: flex-start;
}

.about-btn-div {
  padding: 0 24px 200px;
}

.about-me-underline hr {
  height: 0;
  border: 1px solid #fff;
  margin: 12px 24px 0;
}

.about-me-techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
}

.about-section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section ul h3 {
  font-family: "Meera Inimai", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 0 0 26px;
}

.about-section li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  padding: 10px 0;
}

.diamond {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin: 10px;
}

.circle {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin: 10px 10px 10px 0;
}

.square {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin: 10px 10px 10px 0;
}

.first-li-item {
  display: flex;
  justify-content: flex-start;
  margin-right: 30px;
  padding-top: 26px;
}

/* Submit Section */
.submit-footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 120px 0 0;
}

.submit-footer p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 15px 0 58px;
  text-align: center;
}

.submit-footer form ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
}

.submit-footer form ul li {
  margin: 5px 0;
  width: 100%;
}

.main-form {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.submit-footer form ul li input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  outline: none;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
}

.submit-footer-msg {
  border: none;
  background-color: #fbf8f7;
  width: 100%;
  height: 140px;
  padding: 12px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  outline: none;
}

.submit-footer-btn {
  display: flex;
  justify-content: center;
  padding: 24px 0 120px;
}

.submit-footer-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin: 24px 0;
}

.break-line {
  height: 1px;
  left: 0;
  right: 0;
  top: 0;
  background: #dfe1e6;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background: #ff8127;
}
